[Unit]
Description=PackageKit update notifier
Wants=network-online.target
After=network-online.target

[Timer]
OnActiveSec=0
OnUnitActiveSec=1h
Unit=update-notifier.service

[Install]
WantedBy=multi-user.target
